@use "../../styles/partials/colors";
@use "../../styles/partials/fontfamily";
@use "../../styles/partials/globals";
@use "../../styles/partials/mediaQ";
@use "../../styles/partials/paddingandmargins";
@use "../../styles/partials/mobilefont";
@use "../../styles/partials/tabletdesktopfont";

.site_input {
  width: 100%;

  min-width: 240px;
  border-radius: 20px;
  padding: 0.75rem;
  border: 0.0625rem solid colors.seccolor(is-cloud);
  background-color: colors.primcolor(is-white);
  &--active {
    border: none;
    outline: 0.0625rem solid colors.primcolor(is-indigo);
  }
  &--error {
    border: none;
    outline: 0.0625rem solid colors.suppcolor(is-red);
  }
  &--input {
    height: 2.25rem;
    max-height: 36px;
  }
  &--txtArea {
    resize: none;
    max-height: 1122px;
    height: 8rem;
  }
}

.warehouses__form-input {
  background-image: url(../../assets//icons/search-24px.svg);
  background-position: 22.5rem 50%;
  background-size: 1rem;
  background-repeat: no-repeat;
  padding: 1rem;
  width: 100%;
  margin-bottom: paddingandmargins.$mobDEF;
}
.error {
  &__txt {
    color: colors.suppcolor(is-red);
  }
}
