@use "../../styles/partials/colors";
@use "../../styles/partials/fontfamily";
@use "../../styles/partials/globals";
@use "../../styles/partials/mediaQ";
@use "../../styles/partials/paddingandmargins";
@use "../../styles/partials/mobilefont";
@use "../../styles/partials/tabletdesktopfont";

//INVENTORIES FORM AND TITLE//

.inventories {
	position: relative;
	top: -3.5rem;
	@include mediaQ.tablet{ 
		border-radius: 4px 4px 0px 0px;
		box-shadow: 0px 1px 4px 0 colors.seccolor(is-slate); // NEED TO BE DISCUSSED WITH TEAM // 
	}
}

.inventories__wrapper--form {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	padding: 1.25rem;
	background-color: colors.primcolor(is-white);
	border-bottom: 1px solid colors.seccolor(is-slate);
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0px 1px 4px 0 colors.seccolor(is-slate); // NEED TO BE DISCUSSED WITH TEAM // 
	@include mediaQ.tablet{ 
		padding: 1.5rem 2rem 2rem 2rem;
		display: flex;
		flex-direction: row; 
		justify-content: space-between;
		border-bottom: none;
		box-shadow: none
	}
}

.inventories__title {
	@include mobilefont.mob-header-h1;
	font-weight: fontfamily.weight(bold);
	margin-bottom: paddingandmargins.$mobDEF;
	@include mediaQ.tablet{ 
		@include tabletdesktopfont.tab-desk-header-h1;	
	}
}

.inventories__form {
	@include mediaQ.tablet{ 
		display: flex;
		justify-content: right;
		width: 100%;	
	}
	@include mediaQ.desktop{ 
		width: 100%;
		
	}
}

.inventories__form-button {
	background-color: colors.primcolor(is-indigo);
	color: colors.primcolor(is-white);
	border: none;
	@include mediaQ.tablet{ 
		margin-left: paddingandmargins.$tabDEF;
		width: 10rem;
	}
	@include mediaQ.desktop{ 
		width: 11.5rem;
	}
}

.inventories__wrapper .inventory h4, .inventory__button--sort { 
	@include mediaQ.tablet{ 
		visibility: hidden;
		margin-bottom: 0rem
	}
}

.inventories__wrapper .inventory:first-child h4, .inventory:first-child button.inventory__button--sort { 
	@include mediaQ.tablet{ 
		visibility: visible;
		margin-bottom: 1.5rem;
	}
}

// INVENTORY //

.inventory {
	display: flex;
	justify-content: left;
	padding: 1.25rem;
	background-color: colors.primcolor(is-white);
	border-bottom: 1px solid colors.seccolor(is-slate);
	box-shadow: 0px 1px 4px 0 colors.seccolor(is-slate); // NEED TO BE DISCUSSED WITH TEAM // 
	@include mediaQ.tablet{ 
		padding: paddingandmargins.$tabLR;
		display: flex;
		flex-direction: row; 
		justify-content: left;
		border-bottom: 1px solid colors.seccolor(is-slate);
		box-shadow: none;
		width: 100%;
	}
	&:hover {
		// background-color: lightblue;
	}
}

.inventory__wrapper {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	width: 100%;

	@include mediaQ.tablet{ 
		width: 100%;
	}

	&--inner {
		@include mediaQ.tablet{ 
			display: flex;
			width: 100%;
		}
	}

	&--inner-left {
		justify-content: left;	
        @include mediaQ.tablet{ 
			display: flex;
            flex: row;
			width: 100%;
		}
	}

	&--inner-right {
		
		& .inventory__section-wrapper {
			
			&:last-child h4{
				display: none;
				text-align: right;
			}

			@include mediaQ.tablet{ 
                
				&:last-child h4{
					display: block;
				}
			}
		}
	}
	
	&--left {
		@include mediaQ.tablet{ 
			width: 38%;
		}
	}

	&--right {
		@include mediaQ.tablet{ 
			width: 65%;
		}
	}
}

.inventory__section-wrapper {
	margin-bottom: 1rem;
	width: 100%;
	@include mediaQ.tablet{ 
		width: 100%;
	}

	&--item {
		@include mediaQ.tablet{ 
			width: 100%;
		}
	}

	&--category {
		@include mediaQ.tablet{ 
			width: 100%;
			padding: 0rem 1rem;
		}
	}

	&--status {
		@include mediaQ.tablet{ 
			width: 40%;
		}
	}

    &--qty {
		@include mediaQ.tablet{ 
			width: 30%;
		}
	}

	&--warehouse {
		@include mediaQ.tablet{ 
			width: 40%;
		}
	}

	&--action {
		@include mediaQ.tablet{ 
			width: 12%;
		}
	}
}


.inventory__sub-title {
	@include mobilefont.mob-header-h4;
	margin: 0rem;
	width: 100%;
	text-align: start;
	color: colors.seccolor(is-slate);
	@include mediaQ.tablet{ 
		@include tabletdesktopfont.tab-desk-header-h4;
	}
}

.inventory__text {
	@include mobilefont.mob-par-p3;
	margin: 0rem;
	width: 100%;
	text-align: start;
	color: colors.primcolor(is-black);

	&--bold-blue-font {
		color: colors.primcolor(is-indigo);
		font-weight: fontfamily.weight(bold);
	}

    &--tag {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 1.5rem;
        padding: 0rem .5rem;
        text-align: center;
        border-radius: 20px;
        font-weight: fontfamily.weight(bold);

        &-instock {
            color: #158643;
            background-color: hsl(144, 73%, 30%, 7%);
        }

        // &-outstock {
        //     color: #C94515;
        //     background-color: hsl(16, 81%, 44% , 7%);
        // }
    }

	@include mediaQ.tablet{ 
		@include tabletdesktopfont.tab-desk-header-h3;
	}
}

.inventory__wrapper--button {

	@include mediaQ.tablet{ 
		display: flex;
		flex-direction: row;
		justify-content: right;
	}
}

.inventory__button {
	width: 1rem;
	height: 1.25rem;
	border: none;
	&:hover {
		cursor: pointer;
	}

	&--edit {
		background-image: url(../../assets/icons/edit-24px.svg);
		background-position: center;
		align-self: end;
		@include mediaQ.tablet{ 
			margin-left: 1.25rem;
		}
	}

	&--delete {
		background-image: url(../../assets/icons/delete_outline-24px.svg);
		background-position: center;
	}

	&--mobile {
		@include mediaQ.tablet{ 
			display: none;
		}
	}

	&--sort {
		background-color: white;
		background-image: url(../../assets/icons/sort-24px.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1.15rem;
		margin: 0rem 0rem 0rem .25rem;
	}

	&--chevron {
		background-color: white;
		background-image: url(../../assets/icons/chevron_right-24px.svg);
		background-position: center 20%;
		background-repeat: no-repeat;
		background-size: 1rem;
		margin: 0rem 0rem 0rem .25rem;
		@include mediaQ.tablet{ 
			background-position: bottom;
		}
	}

	&--tablet {
		display: none;
		@include mediaQ.tablet{ 
			display: block;
		}
	}
}

.inventory__wrapper--button-sort{
	display: flex;
	width: fit-content;
	justify-content: right;
}


.inventory__wrapper--button-chevron{
	display: flex;
	width: fit-content;
	justify-content: right;
}