@use "../../styles/partials/colors";
@use "../../styles/partials/fontfamily";
@use "../../styles/partials/globals";
@use "../../styles/partials/mediaQ" as mQ;
@use "../../styles/partials/paddingandmargins";
@use "../../styles/partials/mobilefont" as mFont;
@use "../../styles/partials/tabletdesktopfont" as tFont;

.inventory-form {
  @include mQ.tablet {
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
    @include mQ.tablet {
      display: flex;
      flex-direction: row;
      padding: 1.5rem 0;
    }
  }
  &__label {
    @include mFont.mob-header-h3;
    font-weight: 600;
  }
  &__top {
    border-bottom: 1px solid colors.seccolor(is-cloud);
    padding-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    @include mQ.tablet {
      width: 49%;
      border-bottom: none;
      border-right: 1px solid colors.seccolor(is-cloud);
      padding: 0 1.5rem;
    }
  }
  &__bottom {
    padding: 1rem 1.5rem;
    @include mQ.tablet {
      width: 49%;
      padding: 0 1.5rem;
    }
  }
  &__heading {
    margin-bottom: 1.25rem;
    @include mFont.mob-header-h2;
  }
  &__radio-group {
    display: flex;
    justify-content: space-between;
    width: 80%;
    @include mFont.mob-par-p2;
  }
  &__radio {
    display: flex;
    gap: 0.5rem;
  }
  &__actions {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(247, 248, 249, 0.7);
    @include mQ.tablet {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
  &__button {
    width: 45%;
    @include mQ.tablet {
      width: auto;
    }
  }
  &__qty {
  }
}
