/* Modal styling */
@use "../../styles/partials/colors";
@use "../../styles/partials/globals";
@use "../../styles/partials/mobilefont";
@use "../../styles/partials/tabletdesktopfont";
@use "../../styles/partials/mediaQ";
@use "../../styles/partials/paddingandmargins";

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	height: 100vh;
	background-color: colors.primcolor(is-white);
	padding: 5vw;

	@include mediaQ.tablet {
		margin: 9rem auto;
		width: 42rem;
		height: 16.375rem;
		padding-top: 2vw;
		padding-left: 8vw;
		padding-right: 8vw;
	}

	@include mediaQ.desktop {
		padding-top: 1vw;
		padding-left: 4vw;
		padding-right: 4vw;
		padding-bottom: 3vw;
	}

	&__icon-container {
		display: flex;
		width: 100%;
		justify-content: flex-end;
	}

	&__icon {
		width: 1.5rem;
		height: 1.5rem;

		path {
			fill: colors.primcolor(is-black);
		}

		@include mediaQ.tablet {
			position: relative;
			left: 3rem;
		}
	}

	&__location {
		@include mobilefont.mob-header-h1;
		color: colors.primcolor(is-black);
		padding-bottom: 1rem;
		padding-top: 1rem;

		@include mediaQ.tablet {
			padding-top: unset;
		}
	}

	&__confirm-text {
		@include mobilefont.mob-par-p1;
		color: colors.primcolor(is-black);
	}

	&__button-container {
		margin-top: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include mediaQ.tablet {
			justify-content: flex-end;
		}
	}

	&__button {
		display: flex;
		width: 40vw;
		justify-content: center;

		@include mediaQ.tablet {
			width: 12vw;
		}

		@include mediaQ.desktop {
			width: 6vw;
		}
	}
}
