@use "../../styles/partials/colors";
@use "../../styles/partials/fontfamily";
@use "../../styles/partials/globals";
@use "../../styles/partials/mediaQ";
@use "../../styles/partials/paddingandmargins";
@use "../../styles/partials/mobilefont";
@use "../../styles/partials/tabletdesktopfont";

.site_input--default {
	background-position: 96.5%;
	background-size: 1rem;
	background-repeat: no-repeat;
	width: 100%;
	height: 2.375rem;
	border-radius: 20px;
	padding: 0.75rem;
	border: 0.0625rem solid colors.seccolor(is-cloud);
	background-color: colors.primcolor(is-white);
	@include mediaQ.tablet {
		width: 50%;
	}
}

.warehouses__form-input {
	background-image: url(../../assets//icons/search-24px.svg);
	padding: 1rem;
	margin-bottom: paddingandmargins.$mobDEF;

	&--active {
		border: none;
		outline: 0.0625rem solid colors.primcolor(is-indigo);
	}
	&--error {
		border: none;
		outline: 0.0625rem solid colors.suppcolor(is-red);
	}

	@include mediaQ.tablet {
		width: 11.5rem;
	}

	@include mediaQ.desktop {
		width: 17.125rem;
	}
}

.inventories__form-input {
	background-image: url(../../assets//icons/search-24px.svg);
	padding: 1rem;
	margin-bottom: paddingandmargins.$mobDEF;

	&--active {
		border: none;
		outline: 0.0625rem solid colors.primcolor(is-indigo);
	}
	&--error {
		border: none;
		outline: 0.0625rem solid colors.suppcolor(is-red);
	}

	@include mediaQ.tablet {
		width: 11rem;
	}

	@include mediaQ.desktop {
		width: 18rem;
	}
}
