/* Header styling */

@import "../../styles/partials/colors";
@import "../../styles/partials/globals";
@import "../../styles/partials/fontfamily";
@import "../../styles/partials/mobilefont";
@import "../../styles/partials/tabletdesktopfont";
@import "../../styles/partials/mediaQ";
@import "../../styles/partials/paddingandmargins";

a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: seccolor(is-cloud);
	width: 10rem;
	height: 2.25rem;

	&.active {
		color: primcolor(is-white);
		background-color: primcolor(is-black);
		border-radius: 1.25rem;
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $mobDEF;

	background: bgcolor(is-graphite);

	&__nav {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		padding-top: $mobDEF;
	}

	&__nav-link {
	}
}
