/* Header styling */

@use "../../styles/partials/colors";
@use "../../styles/partials/globals";
@use "../../styles/partials/fontfamily";
@use "../../styles/partials/mobilefont";
@use "../../styles/partials/tabletdesktopfont";
@use "../../styles/partials/mediaQ";
@use "../../styles/partials/paddingandmargins";

a {
	color: colors.seccolor(is-cloud);
	width: 10rem;

	&.active {
		color: colors.primcolor(is-white);
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	background: colors.bgcolor(is-graphite);

	&__nav {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}
}
