@use "../../styles/partials/colors";
@use "../../styles/partials/fontfamily";
@use "../../styles/partials/globals";
@use "../../styles/partials/mediaQ";
@use "../../styles/partials/paddingandmargins";
@use "../../styles/partials/mobilefont";
@use "../../styles/partials/tabletdesktopfont";

//WAREHOUSES SECTION//

.warehouses {
  @include mediaQ.tablet {
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1); // NEED TO BE DISCUSSED WITH TEAM //
  }
}

.warehouses__wrapper--form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  background-color: colors.primcolor(is-white);
  border-bottom: 1px solid colors.seccolor(is-cloud);
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1); // NEED TO BE DISCUSSED WITH TEAM //
  @include mediaQ.tablet {
    padding: 1.5rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    box-shadow: none;
  }
}

.warehouses__title {
  @include mobilefont.mob-header-h1;
  font-weight: fontfamily.weight(bold);
  margin-bottom: paddingandmargins.$mobDEF;
  @include mediaQ.tablet {
    @include tabletdesktopfont.tab-desk-header-h1;
  }
}

.warehouses__form {
  @include mediaQ.tablet {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  @include mediaQ.desktop {
    width: 100%;
  }
}

button.warehouse__form-button {
  background-color: colors.primcolor(is-indigo);
  color: colors.primcolor(is-white);
  border: none;
  @include mediaQ.tablet {
    margin-left: paddingandmargins.$tabDEF;
    width: 11rem;
  }
  @include mediaQ.desktop {
    width: 11.5rem;
  }
}

.warehouses__wrapper .warehouse h4,
.warehouse__button--sort {
  @include mediaQ.tablet {
    visibility: hidden;
    margin-bottom: 0rem;
  }
}

.warehouses__wrapper .warehouse:first-child h4,
.warehouse:first-child button.warehouse__button--sort {
  @include mediaQ.tablet {
    visibility: visible;
    margin-bottom: 1.5rem;
  }
}

// INDIVIDUAL WAREHOUSE //

.warehouse {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  background-color: colors.primcolor(is-white);
  border-bottom: 1px solid colors.seccolor(is-cloud);
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1); // NEED TO BE DISCUSSED WITH TEAM //
  @include mediaQ.tablet {
    padding: paddingandmargins.$tabLR;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: 1px solid colors.seccolor(is-cloud);
    box-shadow: none;
    width: 100%;
  }
  &:hover {
    // background-color: lightblue;
  }
}

.warehouse__wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 100%;

  @include mediaQ.tablet {
    width: 100%;
  }

  &--inner {
    @include mediaQ.tablet {
      display: flex;
      width: 100%;
    }
  }

  &--inner-left {
    justify-content: left;
  }

  &--inner-right {
    & .warehouse__section-wrapper {
      &:last-child h4 {
        display: none;
        text-align: right;
      }

      @include mediaQ.tablet {
        &:last-child h4 {
          display: block;
        }
      }
    }
  }

  &--left {
    @include mediaQ.tablet {
      justify-content: right;
      width: 40%;
    }
  }

  &--right {
    @include mediaQ.tablet {
      width: 60%;
    }
  }
}

.warehouse__section-wrapper {
  margin-bottom: 1rem;
  width: 100%;
  @include mediaQ.tablet {
    width: 100%;
  }

  &--location {
    @include mediaQ.tablet {
      width: 45%;
    }
  }

  &--address {
    @include mediaQ.tablet {
      width: 50%;
      padding: 0rem 1rem;
    }
  }

  &--name {
    @include mediaQ.tablet {
      width: 33%;
    }
  }

  &--info {
    @include mediaQ.tablet {
      width: 39%;
    }
  }

  &--action {
    @include mediaQ.tablet {
      width: 33%;
    }
  }
}

.warehouse__sub-title {
  @include mobilefont.mob-header-h4;
  margin: 0rem;
  width: 100%;
  text-align: start;
  color: colors.seccolor(is-slate);
  @include mediaQ.tablet {
    @include tabletdesktopfont.tab-desk-header-h4;
  }
}

.warehouse__text {
  @include mobilefont.mob-par-p3;
  margin: 0rem;
  width: 100%;
  text-align: start;
  color: colors.primcolor(is-black);

  &--bold-blue-font {
    color: colors.primcolor(is-indigo);
    font-weight: fontfamily.weight(bold);
  }

  @include mediaQ.tablet {
    @include tabletdesktopfont.tab-desk-header-h3;
  }
}

.warehouse__wrapper--button {
  @include mediaQ.tablet {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
}

.warehouse__button {
  width: 1rem;
  height: 1.25rem;
  border: none;
  &:hover {
    cursor: pointer;
  }

  &--edit {
    background-image: url(../../assets/icons/edit-24px.svg);
    background-position: center;
    align-self: end;
    @include mediaQ.tablet {
      margin-left: 1.25rem;
    }
  }

  &--delete {
    background-image: url(../../assets/icons/delete_outline-24px.svg);
    background-position: center;
  }

  &--mobile {
    @include mediaQ.tablet {
      display: none;
    }
  }

  &--sort {
    background-color: white;
    background-image: url(../../assets/icons/sort-24px.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.15rem;
    margin: 0rem 0rem 0rem 0.25rem;
  }

  &--chevron {
    background-color: white;
    background-image: url(../../assets/icons/chevron_right-24px.svg);
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: 1rem;
    margin: 0rem 0rem 0rem 0.25rem;
    @include mediaQ.tablet {
      background-position: bottom;
    }
  }

  &--tablet {
    display: none;
    @include mediaQ.tablet {
      display: block;
    }
  }
}

.warehouse__wrapper--button-sort {
  display: flex;
  width: fit-content;
  justify-content: right;
}

.warehouse__wrapper--button-chevron {
  display: flex;
  width: fit-content;
  justify-content: right;
  cursor: pointer;
}
