@use "../../styles/partials/colors.scss";
@use "../../styles/partials/mediaQ.scss";
@use "../../styles/partials/mobilefont.scss";
@use "../../styles/partials/fontfamily.scss";

.footer {
	display: flex;
	justify-content: center;

	&__text {
		@include mobilefont.mob-header-xsml;
		margin: 4% 0;
		color: colors.seccolor(is-slate);
	}
}
